@font-face {
  font-family: 'BrandonText-normal';
  font-style: normal;
  src: local('BrandonText'), url(./fonts/brandon-text-regular.woff) format('woff');
}

@font-face {
  font-family: 'BrandonText-bold';
  font-style: bold;
  src: local('BrandonText'), url(./fonts/brandon-text-medium.woff) format('woff');
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'BrandonText-normal';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --way-color: #12B2EB;
}

.way-c {
  color: var(--way-color);
}

.way-nav {
  top: 0px;
  height: 75px;
  width: 100%;
  position: fixed;
  margin-bottom: 50px;

}