/* CSS elements for header.js */
.way-nav {
    height: 75px;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.03);
    z-index : 1;
    

}

.way-options {
    z-index: 3;
    color: #6C6C6C;
    padding: 3em;
    font-size: 18px;
    font-family: 'BrandonText-bold';
    position: relative;
}


.nav-option:hover {
    z-index: 3;
    color: #12B2EB;
}

.nav-option {
    margin: .5em;
    text-align: center;
}

.nav-option a {
    color: #6C6C6C;
    text-decoration: none;
}

.nav-option a:hover {
    color: black;
    text-decoration: none;
}

.nav-link a:hover {
    text-decoration: none;
}

.way-button {
    background-color: #12B2EB;
    border-radius: 45px;
    width: 9.5em;
    text-align: center;
    margin: 2em;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    font-family: 'BrandonText-bold';
    justify-content: center;

}

.way-button a, .way-button a:hover{
    color: #ffffff;
}

.way-buttondown a, .way-buttondown a:hover {
    color: #ffffff;
}

.way-logo {
    margin: 2vw;
    cursor: pointer;

}

@media (max-width: 600px) {
    .way-options {
        background-color: #FFF;
        text-align: center;

    }

    

}

@media (min-width: 500px) and (max-width: 1200px) {
    .way-options {
        background-color: #FFF;
        text-align: center;

    }

    .way-button {
    
        margin-left: 30vw;
        
    
    }
    

}